body {
  margin: 0;
  padding: 0;
  background: #003366;
  overflow: hidden;
}

.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
          box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    -webkit-box-shadow: -92px -84.33333px #00ff11, -224px 41.66667px #00ffea, -166px -45.33333px #ffbb00, -110px -193.33333px #ccff00, -56px 45.66667px #80ff00, -14px -172.33333px #ff0088, -137px -243.33333px #3300ff, -228px -87.33333px #a2ff00, -243px 65.66667px #8800ff, 15px -211.33333px deepskyblue, 71px 56.66667px #15ff00, -20px -84.33333px #00ff73, -140px -320.33333px #9900ff, -210px -157.33333px #00ffbf, -163px 50.66667px #00ff80, 97px 54.66667px #95ff00, -199px 7.66667px #88ff00, -60px -242.33333px #00f2ff, 239px -199.33333px #ff0044, -27px -181.33333px #00ff09, -184px -141.33333px #0048ff, 155px -77.33333px #ff005e, 11px -210.33333px #6a00ff, -127px -32.33333px #bbff00, -248px -148.33333px #ff0048, 77px -109.33333px #8000ff, 56px -242.33333px #002bff, 21px 29.66667px #f2ff00, -30px 41.66667px #00ff26, 130px -155.33333px #00ff22, -180px -208.33333px #00ff44, 115px -106.33333px #9100ff, 39px -90.33333px #006fff, -211px -193.33333px #00ff88, -12px 35.66667px #84ff00, -225px -34.33333px #00ff2b, 56px 6.66667px #0066ff, 17px 45.66667px #00ff33, 4px -269.33333px #ff0099, 51px -85.33333px #0011ff, 184px 20.66667px #ff00e1, 182px -112.33333px #1500ff, 68px -324.33333px #d500ff, -234px -95.33333px #dd00ff, -109px -268.33333px #00ff09, 51px -288.33333px #00ffd0, -25px -95.33333px #5100ff, -46px -286.33333px #00ffd9, -163px -214.33333px #00ff6f, 79px -274.33333px #007bff, 163px -225.33333px #ff6a00, 195px -84.33333px #1e00ff, 157px -222.33333px #6f00ff, 166px -65.33333px #26ff00, 244px -44.33333px #ffbb00, -48px 23.66667px #cc00ff, -157px -146.33333px #0099ff, -74px -136.33333px #00ff40, -169px -107.33333px #a200ff, 185px -139.33333px #ff00bb, -28px -249.33333px #5100ff;
            box-shadow: -92px -84.33333px #00ff11, -224px 41.66667px #00ffea, -166px -45.33333px #ffbb00, -110px -193.33333px #ccff00, -56px 45.66667px #80ff00, -14px -172.33333px #ff0088, -137px -243.33333px #3300ff, -228px -87.33333px #a2ff00, -243px 65.66667px #8800ff, 15px -211.33333px deepskyblue, 71px 56.66667px #15ff00, -20px -84.33333px #00ff73, -140px -320.33333px #9900ff, -210px -157.33333px #00ffbf, -163px 50.66667px #00ff80, 97px 54.66667px #95ff00, -199px 7.66667px #88ff00, -60px -242.33333px #00f2ff, 239px -199.33333px #ff0044, -27px -181.33333px #00ff09, -184px -141.33333px #0048ff, 155px -77.33333px #ff005e, 11px -210.33333px #6a00ff, -127px -32.33333px #bbff00, -248px -148.33333px #ff0048, 77px -109.33333px #8000ff, 56px -242.33333px #002bff, 21px 29.66667px #f2ff00, -30px 41.66667px #00ff26, 130px -155.33333px #00ff22, -180px -208.33333px #00ff44, 115px -106.33333px #9100ff, 39px -90.33333px #006fff, -211px -193.33333px #00ff88, -12px 35.66667px #84ff00, -225px -34.33333px #00ff2b, 56px 6.66667px #0066ff, 17px 45.66667px #00ff33, 4px -269.33333px #ff0099, 51px -85.33333px #0011ff, 184px 20.66667px #ff00e1, 182px -112.33333px #1500ff, 68px -324.33333px #d500ff, -234px -95.33333px #dd00ff, -109px -268.33333px #00ff09, 51px -288.33333px #00ffd0, -25px -95.33333px #5100ff, -46px -286.33333px #00ffd9, -163px -214.33333px #00ff6f, 79px -274.33333px #007bff, 163px -225.33333px #ff6a00, 195px -84.33333px #1e00ff, 157px -222.33333px #6f00ff, 166px -65.33333px #26ff00, 244px -44.33333px #ffbb00, -48px 23.66667px #cc00ff, -157px -146.33333px #0099ff, -74px -136.33333px #00ff40, -169px -107.33333px #a200ff, 185px -139.33333px #ff00bb, -28px -249.33333px #5100ff;
  }
}

@keyframes bang {
  to {
    -webkit-box-shadow: -92px -84.33333px #00ff11, -224px 41.66667px #00ffea, -166px -45.33333px #ffbb00, -110px -193.33333px #ccff00, -56px 45.66667px #80ff00, -14px -172.33333px #ff0088, -137px -243.33333px #3300ff, -228px -87.33333px #a2ff00, -243px 65.66667px #8800ff, 15px -211.33333px deepskyblue, 71px 56.66667px #15ff00, -20px -84.33333px #00ff73, -140px -320.33333px #9900ff, -210px -157.33333px #00ffbf, -163px 50.66667px #00ff80, 97px 54.66667px #95ff00, -199px 7.66667px #88ff00, -60px -242.33333px #00f2ff, 239px -199.33333px #ff0044, -27px -181.33333px #00ff09, -184px -141.33333px #0048ff, 155px -77.33333px #ff005e, 11px -210.33333px #6a00ff, -127px -32.33333px #bbff00, -248px -148.33333px #ff0048, 77px -109.33333px #8000ff, 56px -242.33333px #002bff, 21px 29.66667px #f2ff00, -30px 41.66667px #00ff26, 130px -155.33333px #00ff22, -180px -208.33333px #00ff44, 115px -106.33333px #9100ff, 39px -90.33333px #006fff, -211px -193.33333px #00ff88, -12px 35.66667px #84ff00, -225px -34.33333px #00ff2b, 56px 6.66667px #0066ff, 17px 45.66667px #00ff33, 4px -269.33333px #ff0099, 51px -85.33333px #0011ff, 184px 20.66667px #ff00e1, 182px -112.33333px #1500ff, 68px -324.33333px #d500ff, -234px -95.33333px #dd00ff, -109px -268.33333px #00ff09, 51px -288.33333px #00ffd0, -25px -95.33333px #5100ff, -46px -286.33333px #00ffd9, -163px -214.33333px #00ff6f, 79px -274.33333px #007bff, 163px -225.33333px #ff6a00, 195px -84.33333px #1e00ff, 157px -222.33333px #6f00ff, 166px -65.33333px #26ff00, 244px -44.33333px #ffbb00, -48px 23.66667px #cc00ff, -157px -146.33333px #0099ff, -74px -136.33333px #00ff40, -169px -107.33333px #a200ff, 185px -139.33333px #ff00bb, -28px -249.33333px #5100ff;
            box-shadow: -92px -84.33333px #00ff11, -224px 41.66667px #00ffea, -166px -45.33333px #ffbb00, -110px -193.33333px #ccff00, -56px 45.66667px #80ff00, -14px -172.33333px #ff0088, -137px -243.33333px #3300ff, -228px -87.33333px #a2ff00, -243px 65.66667px #8800ff, 15px -211.33333px deepskyblue, 71px 56.66667px #15ff00, -20px -84.33333px #00ff73, -140px -320.33333px #9900ff, -210px -157.33333px #00ffbf, -163px 50.66667px #00ff80, 97px 54.66667px #95ff00, -199px 7.66667px #88ff00, -60px -242.33333px #00f2ff, 239px -199.33333px #ff0044, -27px -181.33333px #00ff09, -184px -141.33333px #0048ff, 155px -77.33333px #ff005e, 11px -210.33333px #6a00ff, -127px -32.33333px #bbff00, -248px -148.33333px #ff0048, 77px -109.33333px #8000ff, 56px -242.33333px #002bff, 21px 29.66667px #f2ff00, -30px 41.66667px #00ff26, 130px -155.33333px #00ff22, -180px -208.33333px #00ff44, 115px -106.33333px #9100ff, 39px -90.33333px #006fff, -211px -193.33333px #00ff88, -12px 35.66667px #84ff00, -225px -34.33333px #00ff2b, 56px 6.66667px #0066ff, 17px 45.66667px #00ff33, 4px -269.33333px #ff0099, 51px -85.33333px #0011ff, 184px 20.66667px #ff00e1, 182px -112.33333px #1500ff, 68px -324.33333px #d500ff, -234px -95.33333px #dd00ff, -109px -268.33333px #00ff09, 51px -288.33333px #00ffd0, -25px -95.33333px #5100ff, -46px -286.33333px #00ffd9, -163px -214.33333px #00ff6f, 79px -274.33333px #007bff, 163px -225.33333px #ff6a00, 195px -84.33333px #1e00ff, 157px -222.33333px #6f00ff, 166px -65.33333px #26ff00, 244px -44.33333px #ffbb00, -48px 23.66667px #cc00ff, -157px -146.33333px #0099ff, -74px -136.33333px #00ff40, -169px -107.33333px #a200ff, 185px -139.33333px #ff00bb, -28px -249.33333px #5100ff;
  }
}

@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@-webkit-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
/*# sourceMappingURL=animasi2.css.map */