.pyro>.before,
.pyro>.after {
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
    box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
    -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro>.after {
    -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
    animation-delay: 1.25s, 1.25s, 1.25s;
    -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
    animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
    to {
        -webkit-box-shadow: 5px -20.33333px #00ff2f, -155px 66.66667px #00f2ff, -243px -324.33333px #00b7ff, -94px -108.33333px #004dff, 139px 32.66667px #b700ff, 79px -295.33333px #7700ff, 209px -86.33333px #00b7ff, 109px 65.66667px #8000ff, -200px -320.33333px #0022ff, 25px -176.33333px #1aff00, -175px 64.66667px #ff9500, -159px -89.33333px #ff0040, 122px -128.33333px #cc00ff, -147px 36.66667px #00c4ff, -136px 60.66667px #00ffbf, 61px -196.33333px #00c8ff, -139px -69.33333px #ff00e6, -184px -157.33333px #d900ff, 75px -288.33333px #006aff, 219px -190.33333px #15ff00, 158px -69.33333px #ff7700, -116px -77.33333px #ff00ea, 35px -13.33333px #00e1ff, 147px -190.33333px #00ffc4, 82px -261.33333px #6f00ff, 149px -212.33333px #73ff00, 26px 60.66667px #00ccff, 143px -332.33333px #ea00ff, 236px 32.66667px #ff2600, -56px -154.33333px #d5ff00, 137px 57.66667px #4000ff, 170px -317.33333px #ff004d, 13px -277.33333px #009dff, 203px -322.33333px #ff2b00, -240px -264.33333px #9900ff, 66px -9.33333px #2600ff, 208px -238.33333px #e600ff, 56px -13.33333px #ff2b00, 176px -1.33333px #0055ff, 25px -180.33333px #ff007b, 100px -135.33333px #00ff51, -34px -63.33333px #008cff, -184px -332.33333px #ff008c, -106px -108.33333px darkorange, -73px -214.33333px #00ff51, -199px -291.33333px red, -180px -187.33333px #ff00f2, -215px -41.33333px #f2ff00, -106px -237.33333px #d5ff00, 25px -137.33333px #00ffa2, 20px -309.33333px #0099ff, -72px -227.33333px #00ff15, 178px -170.33333px #00ff1a, 108px 29.66667px #3c00ff, -116px -178.33333px #00ff4d, -72px -184.33333px #00ffe6, 51px 52.66667px #ff005e, -70px -240.33333px #ff5500, -164px 47.66667px #ff9100, 200px -314.33333px #ffd500, 166px -40.33333px #ff003c;
        box-shadow: 5px -20.33333px #00ff2f, -155px 66.66667px #00f2ff, -243px -324.33333px #00b7ff, -94px -108.33333px #004dff, 139px 32.66667px #b700ff, 79px -295.33333px #7700ff, 209px -86.33333px #00b7ff, 109px 65.66667px #8000ff, -200px -320.33333px #0022ff, 25px -176.33333px #1aff00, -175px 64.66667px #ff9500, -159px -89.33333px #ff0040, 122px -128.33333px #cc00ff, -147px 36.66667px #00c4ff, -136px 60.66667px #00ffbf, 61px -196.33333px #00c8ff, -139px -69.33333px #ff00e6, -184px -157.33333px #d900ff, 75px -288.33333px #006aff, 219px -190.33333px #15ff00, 158px -69.33333px #ff7700, -116px -77.33333px #ff00ea, 35px -13.33333px #00e1ff, 147px -190.33333px #00ffc4, 82px -261.33333px #6f00ff, 149px -212.33333px #73ff00, 26px 60.66667px #00ccff, 143px -332.33333px #ea00ff, 236px 32.66667px #ff2600, -56px -154.33333px #d5ff00, 137px 57.66667px #4000ff, 170px -317.33333px #ff004d, 13px -277.33333px #009dff, 203px -322.33333px #ff2b00, -240px -264.33333px #9900ff, 66px -9.33333px #2600ff, 208px -238.33333px #e600ff, 56px -13.33333px #ff2b00, 176px -1.33333px #0055ff, 25px -180.33333px #ff007b, 100px -135.33333px #00ff51, -34px -63.33333px #008cff, -184px -332.33333px #ff008c, -106px -108.33333px darkorange, -73px -214.33333px #00ff51, -199px -291.33333px red, -180px -187.33333px #ff00f2, -215px -41.33333px #f2ff00, -106px -237.33333px #d5ff00, 25px -137.33333px #00ffa2, 20px -309.33333px #0099ff, -72px -227.33333px #00ff15, 178px -170.33333px #00ff1a, 108px 29.66667px #3c00ff, -116px -178.33333px #00ff4d, -72px -184.33333px #00ffe6, 51px 52.66667px #ff005e, -70px -240.33333px #ff5500, -164px 47.66667px #ff9100, 200px -314.33333px #ffd500, 166px -40.33333px #ff003c;
    }
}

@keyframes bang {
    to {
        -webkit-box-shadow: 5px -20.33333px #00ff2f, -155px 66.66667px #00f2ff, -243px -324.33333px #00b7ff, -94px -108.33333px #004dff, 139px 32.66667px #b700ff, 79px -295.33333px #7700ff, 209px -86.33333px #00b7ff, 109px 65.66667px #8000ff, -200px -320.33333px #0022ff, 25px -176.33333px #1aff00, -175px 64.66667px #ff9500, -159px -89.33333px #ff0040, 122px -128.33333px #cc00ff, -147px 36.66667px #00c4ff, -136px 60.66667px #00ffbf, 61px -196.33333px #00c8ff, -139px -69.33333px #ff00e6, -184px -157.33333px #d900ff, 75px -288.33333px #006aff, 219px -190.33333px #15ff00, 158px -69.33333px #ff7700, -116px -77.33333px #ff00ea, 35px -13.33333px #00e1ff, 147px -190.33333px #00ffc4, 82px -261.33333px #6f00ff, 149px -212.33333px #73ff00, 26px 60.66667px #00ccff, 143px -332.33333px #ea00ff, 236px 32.66667px #ff2600, -56px -154.33333px #d5ff00, 137px 57.66667px #4000ff, 170px -317.33333px #ff004d, 13px -277.33333px #009dff, 203px -322.33333px #ff2b00, -240px -264.33333px #9900ff, 66px -9.33333px #2600ff, 208px -238.33333px #e600ff, 56px -13.33333px #ff2b00, 176px -1.33333px #0055ff, 25px -180.33333px #ff007b, 100px -135.33333px #00ff51, -34px -63.33333px #008cff, -184px -332.33333px #ff008c, -106px -108.33333px darkorange, -73px -214.33333px #00ff51, -199px -291.33333px red, -180px -187.33333px #ff00f2, -215px -41.33333px #f2ff00, -106px -237.33333px #d5ff00, 25px -137.33333px #00ffa2, 20px -309.33333px #0099ff, -72px -227.33333px #00ff15, 178px -170.33333px #00ff1a, 108px 29.66667px #3c00ff, -116px -178.33333px #00ff4d, -72px -184.33333px #00ffe6, 51px 52.66667px #ff005e, -70px -240.33333px #ff5500, -164px 47.66667px #ff9100, 200px -314.33333px #ffd500, 166px -40.33333px #ff003c;
        box-shadow: 5px -20.33333px #00ff2f, -155px 66.66667px #00f2ff, -243px -324.33333px #00b7ff, -94px -108.33333px #004dff, 139px 32.66667px #b700ff, 79px -295.33333px #7700ff, 209px -86.33333px #00b7ff, 109px 65.66667px #8000ff, -200px -320.33333px #0022ff, 25px -176.33333px #1aff00, -175px 64.66667px #ff9500, -159px -89.33333px #ff0040, 122px -128.33333px #cc00ff, -147px 36.66667px #00c4ff, -136px 60.66667px #00ffbf, 61px -196.33333px #00c8ff, -139px -69.33333px #ff00e6, -184px -157.33333px #d900ff, 75px -288.33333px #006aff, 219px -190.33333px #15ff00, 158px -69.33333px #ff7700, -116px -77.33333px #ff00ea, 35px -13.33333px #00e1ff, 147px -190.33333px #00ffc4, 82px -261.33333px #6f00ff, 149px -212.33333px #73ff00, 26px 60.66667px #00ccff, 143px -332.33333px #ea00ff, 236px 32.66667px #ff2600, -56px -154.33333px #d5ff00, 137px 57.66667px #4000ff, 170px -317.33333px #ff004d, 13px -277.33333px #009dff, 203px -322.33333px #ff2b00, -240px -264.33333px #9900ff, 66px -9.33333px #2600ff, 208px -238.33333px #e600ff, 56px -13.33333px #ff2b00, 176px -1.33333px #0055ff, 25px -180.33333px #ff007b, 100px -135.33333px #00ff51, -34px -63.33333px #008cff, -184px -332.33333px #ff008c, -106px -108.33333px darkorange, -73px -214.33333px #00ff51, -199px -291.33333px red, -180px -187.33333px #ff00f2, -215px -41.33333px #f2ff00, -106px -237.33333px #d5ff00, 25px -137.33333px #00ffa2, 20px -309.33333px #0099ff, -72px -227.33333px #00ff15, 178px -170.33333px #00ff1a, 108px 29.66667px #3c00ff, -116px -178.33333px #00ff4d, -72px -184.33333px #00ffe6, 51px 52.66667px #ff005e, -70px -240.33333px #ff5500, -164px 47.66667px #ff9100, 200px -314.33333px #ffd500, 166px -40.33333px #ff003c;
    }
}

@-webkit-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}

@keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}

@-webkit-keyframes position {
    0%,
    19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%,
    39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%,
    59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }
    60%,
    79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }
    80%,
    99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}

@keyframes position {
    0%,
    19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%,
    39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%,
    59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }
    60%,
    79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }
    80%,
    99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}


/*# sourceMappingURL=animasi2.css.map */