@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Karla:wght@200;300;400;500;600;700;800&display=swap');
body {
    position: relative;
    overflow-x: hidden;
    /* max-width: 1440px!important;
    min-width: 1200px!important;
    width: 100%!important;
    margin: 0 auto!important */
}

#nav .navbar {
    background: rgba(2, 48, 71, 0.75);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.35);
}


/* a.navbar-brand {
    display: none
} */

#nav .navbar-brand img {
    /* margin-left: 50px; */
    width: 100%;
    max-width: 130px!important;
    height: auto;
}

#nav .nav a {
    color: #000;
}

#nav .nav-lms {
    width: 100%;
}

#nav .nav-lms li {
    padding-left: 15px;
}

#nav .nav-lms li a {
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    font-family: 'Karla', sans-serif;
}

#nav .nav-lms-right {
    display: flex;
    justify-content: center;
    align-content: center;
    list-style: none;
}

#nav .nav-lms-right li {
    padding-left: 5px;
}


/* .nav-lms-right li:last-child {
    padding-left: 5px;
} */

#nav .nav-lms-right li img {
    padding-left: 5px;
    margin-top: -5px;
}

#nav .button-register {
    background-color: #F9441B;
    border: 1px solid #F9441B;
    color: #fff;
    padding: 5px 25px 5px 25px;
    border-radius: 10px;
    width: 150px;
    text-align: center;
    font-size: 16px!important;
    margin-top: 5px;
    /* margin-left: 15px; */
}

#nav .navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 100%)!important
}

#nav .mobile {
    display: none;
}

@media (max-width:1200px) {
    #nav .navbar-brand img {
        padding-left: 10px;
    }
    #nav .nav-lms li {
        padding-left: 10px;
    }
    #nav .nav-lms li a {
        font-size: 14px;
    }
    #nav .nav-lms-right {
        margin-left: -60px;
    }
    #nav .mobile {
        display: block;
    }
    #nav .desktop {
        display: none;
    }
    /* .nav-lms-right li:last-child {
        padding-left: 5px;
    } */
}

#home {
    /* animation: scroll 100s linear infinite; */
    background: url("../images/bg_lm3.jpg");
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    perspective-origin: 50% 50%;
    padding-top: 100px;
    padding-bottom: 20px;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}


/* @keyframes scroll {
    100% {
        background-position: 0px -3000px;
    }
}

@media (prefers-reduced-motion) {
    #home {
        animation: scroll 200s linear infinite;
    }
} */

#home img.header-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    /* max-width: 664px; */
    max-width: 825px;
    height: auto;
    margin-bottom: 10px;
}

#home img.header-text-mobile {
    display: none;
}

#home .body-count {
    background: rgba(7, 7, 29, 0.75);
    padding: 10px 0 10px 5px;
    width: 100%;
    max-width: 300px;
    margin: 30px auto 0 auto;
    height: auto;
    border-radius: 10px;
}

#home .count {
    text-align: center;
    font-size: 35px;
    margin-bottom: 10px;
    color: #F53B00;
    font-family: 'Karla', sans-serif;
}

#home h1.date {
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
}

#home h1.sub-date {
    text-align: center;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    font-family: 'Karla', sans-serif;
}

#home .canvas {
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: 900px;
}

@media only screen and (min-width: 0px) and (max-width: 765px) {
    #home img.header-text {
        display: none;
    }
    #home img.header-text-mobile {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 649px;
        height: auto;
        margin-bottom: 10px;
    }
}

@media (max-width:1000px) {
    #home .canvas {
        position: absolute;
        height: 100%;
        width: 100%;
        max-width: 150px;
        margin: 0 auto;
        left: 150px;
        top: 50px
    }
}

#about {
    background-color: #fff;
    padding-top: 70px;
    height: auto;
}

#about img {
    position: relative;
    left: 33px;
    border-radius: 10px;
}

#about img.part {
    display: block;
    border-radius: 10px 0 0 10px;
    padding: 30px;
    background-color: #023047;
}

#about h1.header {
    text-align: center;
    color: #023047;
    font-size: 43px;
    font-weight: 700;
    font-family: 'Bebas Neue', cursive;
}

#about .about h1 {
    margin-top: 20px;
    color: #F9441B;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    font-family: 'Karla', sans-serif;
}

#about .about h2 {
    margin-top: 20px;
    color: #fff;
    font-size: 16px;
    /* font-weight: 400; */
    line-height: 1.5;
    font-family: 'Karla', sans-serif;
}

#about .read-more {
    font-size: 12px;
}

#about .about {
    background-color: #023047;
    padding: 30px;
    height: 408px;
    border-radius: 0 10px 10px 0;
}

#about .read-more-judul {
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-size: 30px;
    font-weight: 700;
}

#about .read-more-header {
    text-align: center;
    color: #F9441B;
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    font-weight: 700;
}

#about .read-more-isi {
    text-align: left;
    font-family: 'Karla', sans-serif;
    font-size: 18px;
}

#about .read-more-isi-suara {
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-size: 14px;
}

#about .media {
    display: flex;
    justify-content: center;
    align-items: center;
}

#about .media img {
    margin-left: 50px;
    width: 80%;
    height: auto;
}

@media only screen and (min-width: 0) and (max-width: 768px) {
    #about h1.header {
        /* border-top: 5px solid #fff; */
        padding-top: 10px;
    }
    #about img.part {
        width: 100%;
        height: auto;
        border-radius: 10px 10px 0 0;
    }
    #about img {
        left: 0;
    }
    #about .about {
        height: auto;
        border-radius: 0 0 10px 10px;
    }
    #about .about h1 {
        margin-top: -30px;
    }
    #about .media img {
        margin-left: 10px;
        width: 80%;
        height: auto;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1279px) {
    #about h1.header {
        /* border-top: 5px solid #fff; */
        padding-top: 10px;
    }
    #about img.part {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }
    #about img {
        left: 0;
    }
    #about .about {
        height: auto;
        border-radius: 10px;
        padding: 50px;
    }
    #about .about h1 {
        margin-top: -30px;
    }
    #about .media img {
        margin-left: 10px;
        width: 80%;
    }
}

@media only screen and (width:1280px) {
    #about img {
        left: -29px
    }
}

#media {
    background-color: #FFF;
    padding-top: 70px;
    padding-bottom: 20px;
    height: auto;
}

#media h1.header {
    text-align: center;
    color: #000;
    font-size: 18px;
    font-weight: 700;
}

#media .media {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#media .media img {
    margin-left: 15px;
    margin-bottom: 10px;
}

@media (max-width:1200px) {
    #media .media {
        display: flex;
        flex-wrap: wrap;
    }
    #media .media img {
        margin-bottom: 20px;
    }
}

#sponsor {
    background-color: #FFF;
    padding-top: 30px;
    padding-bottom: 20px;
    height: auto;
    padding-bottom: 50px;
}

#sponsor h1.header {
    text-align: center;
    color: #000;
    font-size: 18px;
    font-weight: 700;
}

#sponsor .media {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#sponsor .media img {
    margin-left: 30px;
    /* margin-bottom: 20px; */
    margin-top: 25px;
}

#sponsor .sponsor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#sponsor .sponsor img {
    margin-left: 20px;
    /* margin-bottom: 10px; */
    margin-top: 25px;
}

@media (max-width:1000px) {
    #sponsor .media {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto 0 auto;
        max-width: 150px;
    }
    #sponsor .media img {
        margin-left: 20px;
        /* width: 150px; */
    }
    #sponsor .sponsor {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    /* #sponsor .sponsor img {
        margin-bottom: 20px;
    } */
    #sponsor {
        height: auto;
    }
}

#agenda {
    background-color: #023047;
    padding-top: 70px;
    padding-bottom: 50px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* #agenda .splide__slide {
    width: calc(50%)!important;
    max-width: 500px;
} */

#agenda h1.header {
    text-align: center;
    color: #fff;
    font-size: 43px;
    font-weight: 700;
    font-family: 'Bebas Neue', cursive;
}

#agenda h2.header {
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Karla', sans-serif;
}

#agenda .header-workshop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F9441B;
    /* background-color: #e12b04; */
    padding: 15px 10px 10px 10px;
    border-radius: 10px 10px 0 0;
    max-width: 900px;
    margin: 0 auto;
}

#agenda .header-workshop h1 {
    color: #fff;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    font-weight: 200;
}

#agenda .header-workshop h2 {
    color: #fff;
    font-size: 14px;
    font-weight: 200;
}

#agenda .isi-workshop {
    background-color: #fff;
    font-size: 16px;
    border-radius: 0 0 10px 10px;
    max-width: 900px;
    margin: 0 auto;
    font-family: 'Karla', sans-serif;
}

#agenda .table {
    display: flex;
    justify-content: center;
}

#agenda .distance-top {
    padding-top: 30px;
}


/* #agenda tr:first-child {
    height: 80px;
} */


/* #agenda tr:last-child {
    height: 80px;
} */

#agenda p.head-det-agenda {
    font-family: 'Bebas Neue', cursive;
    font-weight: 700;
    font-size: 35px;
    color: #023047;
    text-align: center;
}

#agenda p.head-det-agenda-2 {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #023047;
    text-align: center;
}

#agenda .judul {
    font-family: 'Karla', sans-serif!important;
    font-weight: 700;
    font-size: 20px;
    color: #023047;
}

#agenda .isi {
    font-family: 'Karla', sans-serif!important;
    font-size: 16px;
    color: #000;
}

#agenda .bg-det-agenda {
    background-color: #e6e6e6;
    padding: 20px;
    border-radius: 15px;
}

#agenda .bg-det-agenda-2 {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
}

#agenda img.bullet {
    position: relative;
    bottom: 8px;
    right: 10px;
}

#agenda b.bold {
    font-weight: 700;
}

#agenda .splide__pagination {
    bottom: -2.5em;
    left: 0;
    padding: 0 1em;
    position: absolute;
    right: 0;
    z-index: 1
}

#agenda .td {
    padding-bottom: 30px!important;
}

#agenda .btn-tooltip {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

#agenda .splide__arrow {
    -ms-flex-align: center;
    align-items: center;
    background: #ccc;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    height: 2em;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: .7;
    padding: 0;
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    width: 2em;
    z-index: 1
}

@media (max-width:1200px) {
    #agenda img.bullet {
        display: none;
    }
    #agenda td.jam {
        width: 130px;
        font-size: 14px;
    }
}

#part {
    margin-top: 35px;
}

#part img {
    position: relative;
    left: 31px;
}

#part img.part {
    display: block;
    border-radius: 10px 0 0 10px;
    background-color: #fff;
    padding: 30px 0 30px 50px;
    object-fit: cover;
}

#part h1.header {
    text-align: center;
    color: #fff;
    font-size: 43px;
    font-weight: 700;
    font-family: 'Bebas Neue', cursive;
    border-top: 5px solid #fff;
    padding-top: 30px!important;
}

#part .about h1 {
    margin-top: 5px;
    color: #023047;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin-left: 80px;
}

#part .about h2 {
    /* margin-top: 15px; */
    margin-bottom: 25px;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    font-family: 'Karla', sans-serif;
    max-width: 550px;
    margin-left: 80px;
}

#part .about {
    background-color: #fff;
    height: 408px;
    border-radius: 0 10px 10px 0;
    padding: 60px 30px 30px 30px;
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
    #part h1.header {
        /* border-top: 5px solid #fff; */
        padding-top: 10px;
    }
    #part img.part {
        width: 100%;
        height: auto;
        border-radius: 10px 10px 0 0;
        padding: 30px
    }
    #part img {
        left: 0;
    }
    #part .about {
        height: auto;
        border-radius: 0 0 10px 10px;
        padding: 30px;
    }
    #part .about h2:first-child {
        margin-top: -30px;
    }
    #part .about h1 {
        margin-left: 0;
    }
    #part .about h2 {
        margin-left: 0;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1279px) {
    #part h1.header {
        /* border-top: 5px solid #fff; */
        padding-top: 10px;
    }
    #part img.part {
        width: 100%;
        height: auto;
        border-radius: 10px;
        padding: 30px
    }
    #part img {
        left: 0;
    }
    #part .about {
        height: auto;
        border-radius: 10px;
        padding: 50px;
    }
    #part .about h2:first-child {
        margin-top: -30px;
    }
    #part .about h1 {
        margin-left: 0;
    }
    #part .about h2 {
        margin-left: 0;
    }
}


/* @media only screen and (width:1280px) {
    #part img {
        left: -29px
    }
    #part .about h1 {
        margin-left: 0;
    }
    #part .about h2 {
        margin-left: 0;
    }
} */

#event {
    margin-top: 35px;
}

#event h1.header {
    text-align: center;
    color: #fff;
    font-size: 43px;
    font-weight: 700;
    font-family: 'Bebas Neue', cursive;
    border-top: 5px solid #fff;
    padding-top: 30px!important;
}

#event img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    /* max-width: 256px; */
    height: auto;
    margin-bottom: 20px;
    object-fit: cover;
    transition: all .3s ease;
}

#event a img:hover {
    transform: scale(1.1);
    filter: grayscale(1);
}

#event img.event-left {
    position: relative;
    left: 80px;
}

#event img.event-right {
    position: relative;
    right: 80px;
}

#event img.event2 {
    max-width: 200px;
    width: 100%;
    height: 340px;
    border-radius: 10px;
}

#event img.event3 {
    display: none;
}

@media only screen and (max-width: 1200px) {
    #event h1.header {
        /* border-top: 5px solid #fff; */
        padding-top: 10px;
        margin-top: 10px;
    }
    #event img.event2 {
        display: none;
    }
    #event img.event3 {
        width: 100%;
        height: auto;
        display: block;
    }
    #event img.event-left {
        position: relative;
        left: 0;
    }
    #event img.event-right {
        position: relative;
        right: 0;
    }
}

@media only screen and (width: 1280px) {
    #event h1.header {
        /* border-top: 5px solid #fff; */
        padding-top: 10px;
        margin-top: 10px;
    }
    #event img.event-left {
        position: relative;
        left: 90px;
    }
    #event img.event-right {
        position: relative;
        right: 90px;
    }
    #event img.event2 {
        max-width: 170px;
        width: 100%;
        height: auto;
    }
}

#venue {
    margin-top: 35px;
}

#venue img {
    position: relative;
    left: 32px;
}

#venue img.venue {
    display: block;
    border-radius: 10px 0 0 10px;
    padding: 30px 0 30px 50px;
    background-color: #fff;
    object-fit: cover;
}

#venue h1.header {
    text-align: center;
    color: #fff;
    font-size: 43px;
    font-weight: 700;
    font-family: 'Bebas Neue', cursive;
    border-top: 5px solid #fff;
    padding-top: 30px!important;
}

#venue .about h1 {
    margin-top: 20px;
    color: #023047;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    margin-left: 80px;
}

#venue .about h2 {
    margin-top: -5px;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    font-family: 'Karla', sans-serif;
    margin-left: 80px;
}

#venue .about {
    background-color: #fff;
    padding: 30px;
    height: 408px;
    border-radius: 0 10px 10px 0;
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
    #venue h1.header {
        border-top: 5px solid #fff;
        padding-top: 10px;
    }
    #venue img.venue {
        width: 100%;
        height: auto;
        border-radius: 10px 10px 0 0;
        padding: 30px
    }
    #venue img {
        left: 0;
    }
    #venue .about {
        height: auto;
        border-radius: 0 0 10px 10px
    }
    #venue .about h1:first-child {
        margin-top: -30px;
    }
    #venue .about h1 {
        margin-left: 0;
    }
    #venue .about h2 {
        margin-left: 0;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1279px) {
    #venue h1.header {
        border-top: 5px solid #fff;
        padding-top: 10px;
    }
    #venue img.venue {
        width: 100%;
        height: auto;
        border-radius: 10px;
        padding: 30px
    }
    #venue img {
        left: 0;
    }
    #venue .about {
        height: auto;
        border-radius: 10px;
        padding: 50px;
    }
    #venue .about h1:first-child {
        margin-top: -30px;
    }
    #venue .about h1 {
        margin-left: 0;
    }
    #venue .about h2 {
        margin-left: 0;
    }
}


/* @media only screen and (width:1280px) {
    #venue img {
        left: -29px
    }
    #venue .about h1 {
        margin-left: 0;
    }
    #venue .about h2 {
        margin-left: 0;
    }
} */

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: rgb(202, 188, 0)!important;
    border-bottom: 1px solid #fff !important;
    background-color: transparent!important;
    font-weight: 700!important;
    font-size: 20px;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #d9d9d9!important;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    font-weight: 700!important;
    font-size: 20px;
}

.nav-pills2 .nav-link2.active,
.nav-pills2 .show>.nav-link2 {
    color: #fff!important;
    border-bottom: 1px solid #fff !important;
    background-color: #023047!important;
    font-weight: 700!important;
}

.nav-link2 {
    display: block;
    padding: .5rem 1rem;
    color: #023047!important;
    text-decoration: none;
    /* transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out; */
    font-weight: 700!important;
    border: none!important;
    border-radius: 5px;
    margin-left: 5px;
}


/* .navbar-expand-xl .navbar-nav .dropdown-menu {
    background: rgba(2, 48, 71, 0.75);
}

.dropdown-item-lms:focus,
.dropdown-item-lms:hover {
    color: #fff;
    background-color: none
} */

@media (max-width:1000px) {
    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
        font-size: 16px;
    }
    .nav-link {
        font-size: 16px;
    }
}

@media (max-width:1000px) {
    #agenda .header-workshop h1 {
        color: #fff;
        font-size: 14px;
    }
    /* #agenda .header-workshop h2 {
        color: #fff;
        font-size: 14px;
        font-weight: 200;
    } */
}

#speaker {
    background-color: #E6E6E6;
    padding-top: 70px;
    padding-bottom: 50px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#speaker h1 {
    text-align: center;
    color: #0A0D2C;
    font-size: 43px;
    font-weight: 700;
    font-family: 'Bebas Neue', cursive;
}

#speaker .speaker-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

#speaker .border {
    border: 10px solid #fff;
    border-radius: 30px;
    padding: 10px;
    margin-bottom: 20px;
    background: #FFFFFF;
    height: 258px;
    transition: all .3s ease;
}

#speaker .border:hover {
    transform: scale(1.1);
}

#speaker .border-detail {
    border: 10px solid #fff;
    border-radius: 30px;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 70px;
    background: #efefef;
    height: 270px;
    width: 215px;
}

#speaker .nama {
    font-size: 16px;
    text-align: center;
    color: #023047;
    font-weight: 700;
}

#speaker .jabatan {
    font-size: 14px;
    text-align: center;
    color: #023047;
}

#speaker .text-speaker {
    font-size: 14px;
    text-align: center;
    color: #023047;
    margin-top: 75px;
}

#speaker a {
    transition: all .3s ease;
}

#speaker a:hover {
    transform: scale(1.1);
}

@media only screen and (min-width: 0) and (max-width: 765px) {
    #speaker .text-speaker {
        margin-top: 0;
    }
    #speaker .border {
        height: 275px;
    }
    #speaker .border-detail {
        height: 270px;
        width: auto;
    }
}

@media only screen and (min-width: 766px) and (max-width: 1200px) {
    #speaker .border-detail {
        border: 10px solid #fff;
        border-radius: 30px;
        padding: 10px;
        margin-bottom: 20px;
        background: #efefef;
        height: auto;
        width: auto;
    }
    #speaker .border {
        height: 275px;
    }
}

@media (min-width:1300px) {
    #speaker .border {
        width: 213px;
    }
}

#highlight {
    background-color: #fff;
    padding-top: 70px;
    padding-bottom: 50px;
    /* min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; */
}

#highlight .splide.highlight {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

#highlight .splide__track {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

#highlight .splide__pagination {
    bottom: -.5em;
    left: 0;
    padding: 0 1em;
    position: absolute;
    right: 0;
    z-index: 1
}

#highlight h1.header {
    text-align: center;
    color: #070C4A;
    font-size: 43px;
    font-weight: 700;
    font-family: 'Bebas Neue', cursive;
}

#highlight .yt {
    display: flex;
    justify-content: center;
}

#highlight .yt iframe {
    border-radius: 10px;
}

#highlight .splide-yt {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding-bottom: 20px;
}

#highlight .splide-yt iframe {
    border-radius: 5px;
}

#highlight .media {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#highlight img.hg {
    width: 100%;
    height: auto;
    max-width: 350px;
    margin: 20px 20px 20px 0
}

#highlight img.hg2 {
    width: 100%;
    height: auto;
    max-width: 200px;
    margin: 20px 0 10px 0;
    padding: 0 10px 0 10px
}


/* @media (max-width:480px) {
    #highlight img.hg {
        margin-bottom: 10px;
        margin: 20px -65px 20px 0
    }
} */

@media (max-width:1200px) {
    #highlight .splide-yt iframe {
        width: 100%;
        max-width: 560px;
        height: 315px;
        margin: 20px auto;
    }
    #highlight .splide__track {
        margin: 0 auto;
    }
    #highlight img.hg {
        margin: 10px auto
    }
    #highlight img.hg2 {
        width: 100%;
        max-width: 483px;
        padding: 0;
        margin: 0 0 10px 0;
    }
    /* #highlight .media {
        display: block;
        margin: 0 auto;
        max-width: 250px;
        width: 100%;
    } */
}

#kontak {
    background-color: #DBDBDB;
    padding-top: 70px;
    padding-bottom: 50px;
    height: auto;
}

#kontak h1.header {
    text-align: center;
    color: #070C4A;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Bebas Neue', cursive;
}

#kontak h2 {
    text-align: center;
    color: #070C4A;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Karla', sans-serif;
}

#kontak h3 {
    text-align: center;
    color: #070C4A;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Karla', sans-serif;
}

#kontak img {
    max-width: 30px;
    height: auto;
    width: 100%;
    margin-left: 10px;
}

#kontak .br {
    border-top: 1px solid rgba(2, 48, 71, 0.75);
    margin: 15px auto;
    max-width: 500px;
}

#kontak .form-email {
    display: flex;
    justify-content: center;
}

#kontak .email {
    border: none;
    color: #070C4A;
    background: transparent;
}

#kontak .wa a {
    color: #070C4A;
    border-right: 1px solid #070C4A;
    padding: 0 10px
}

#kontak .wa a:last-child {
    border: none;
}

@media (max-width:1200px) {
    #kontak .wa a {
        line-height: 40px;
    }
}

#peserta {
    background-color: #fff;
    padding-top: 70px;
    padding-bottom: 50px;
    height: auto;
}

#peserta img {
    width: 100%;
}

#peserta h1.header {
    text-align: center;
    color: #070C4A;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Bebas Neue', cursive;
}

#peserta p {
    text-align: left;
    color: #000;
    font-size: 18px;
    font-family: 'Karla', sans-serif;
    margin-top: 10px;
}

#kolab {
    background-color: #fff;
    padding-top: 70px;
    padding-bottom: 50px;
    height: auto;
}

#kolab .judul-participant {
    max-width: 850px;
    width: 100%;
    margin: 0 auto
}

#kolab h3 {
    text-align: center;
    color: #070C4A;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Karla', sans-serif;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    line-height: 1.5;
}

#kolab h4 {
    text-align: center;
    color: #070C4A;
    font-size: 45px;
    font-weight: 700;
    font-family: 'Bebas Neue', cursive;
}

#kolab h5 {
    text-align: center;
    color: #070C4A;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Karla', sans-serif;
}

#kolab .judul-form {
    font-size: 16px;
    background-color: #023047;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: start;
    border-radius: 10px;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    font-family: 'Karla', sans-serif!important;
}

#kolab .judul-form-2 {
    font-size: 16px;
    background-color: #4C4C4C;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: start;
    border-radius: 10px;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    font-family: 'Karla', sans-serif!important;
}

#kolab .judul-form-3 {
    font-size: 16px;
    background-color: #4C4C4C;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: start;
    border-radius: 10px;
    color: #fff;
    padding: 10px 25px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    font-family: 'Karla', sans-serif!important;
}

#kolab .button-kirim {
    background-color: #F9441B;
    color: #fff;
    border-color: #F53B00;
    border-radius: 10px;
    width: 30%;
    padding: 10px 0
}

#kolab .p1 {
    max-width: 1440px!important;
    width: 100%!important;
    margin: 0 auto 0 180px!important
}

#kolab .form-check-label {
    max-width: 850px;
    width: 100%;
}

#kolab article {
    display: none;
}

#kolab article.on {
    display: flex;
    justify-content: center;
}

#kolab .email2 {
    color: #070C4A;
    background-color: #d9d9d9;
    text-decoration: none;
}

#kolab .text-form {
    color: #0A0D2C;
    font-family: 'Karla', sans-serif;
}

@media only screen and (max-width: 1000px) {
    #kolab .p1 {
        flex: 0 0 auto!important;
        width: 100%!important;
        margin: 0 auto!important
    }
    #kolab .judul-form {
        font-size: 13px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #kolab .judul-form-2 {
        font-size: 13px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 999px) {
    #kolab .p1 {
        margin-left: 110px!important;
    }
}

#news {
    background-color: #f6f6f6;
    padding-top: 70px;
    padding-bottom: 50px;
    /* min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; */
}

#news h1 {
    text-align: center;
    color: #0A0D2C;
    font-size: 43px;
    font-weight: 700;
    font-family: 'Bebas Neue', cursive;
}

#news h2 {
    color: #0A0D2C;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Karla', sans-serif;
}

#news p.isi-popup {
    color: #0A0D2C;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    font-family: 'Karla', sans-serif;
}

#news p.isi {
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 22px;
    max-width: 350px;
    margin: 15px auto 25px auto;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #0A0D2C;
    font-family: 'Karla', sans-serif;
}

#news img {
    width: 100%;
    max-width: 363px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width:1200px) {
    #news {
        height: auto;
    }
    #news p.isi {
        font-size: 18px;
        max-width: 350px;
    }
}

#faq {
    background-color: #fff;
    padding-top: 70px;
    padding-bottom: 50px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#faq h1 {
    text-align: center;
    color: #0A0D2C;
    font-size: 43px;
    font-weight: 700;
    font-family: 'Bebas Neue', cursive;
}

#faq *,
#faq *:after,
#faq *:before {
    box-sizing: border-box;
}

#faq :root {
    font-size: 16px;
}

#faq *:focus {
    outline: none;
}

#faq details div {
    /* border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000; */
    padding: 1.5em;
    font-family: 'Karla', sans-serif;
}

#faq details div>*+* {
    margin-top: 1.5em;
}

#faq details+details {
    margin-top: .5rem;
}

#faq summary {
    list-style: none;
    font-family: 'Karla', sans-serif;
    font-weight: 600;
}

#faq summary::-webkit-details-marker {
    display: none;
}

#faq summary {
    /* border: 1px solid #0A0D2C; */
    padding: .75em 1em;
    cursor: pointer;
    position: relative;
    padding-left: calc(1.75rem + .75rem + .75rem);
    border-radius: 5px;
    background-color: #eee;
}

#faq summary:before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: .75rem;
    content: "↓";
    width: 1.75rem;
    height: 1.75rem;
    background: rgba(2, 48, 71, 0.75);
    color: #FFF;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 5px;
}

#faq details[open] summary {
    background-color: #eee;
}

#faq details[open] summary:before {
    content: "↑";
}

#faq summary:hover {
    background-color: #eee;
}

#faq a {
    color: inherit;
    font-weight: 600;
    text-decoration: none;
    box-shadow: 0 1px 0 0;
}

#faq a:hover {
    box-shadow: 0 3px 0 0;
}

#det-artikel {
    margin-top: 100px;
    height: auto;
}

#det-artikel .breadcrumbs {
    border-bottom: 1px solid #333;
    font-weight: 600;
    margin-bottom: 10px;
}

#det-artikel .breadcrumbs .bc-text {
    font-size: 21px;
    font-weight: bold;
    padding-bottom: 10px;
    margin-bottom: 0px;
    display: inline-block;
    color: #000;
}

#det-artikel .breadcrumbs .bc-text::before {
    content: '';
    background: #0A0D2C;
    height: 6px;
    display: block;
    position: relative;
    border-radius: 80px;
    top: 45px;
    left: -1px;
}

#det-artikel img.header {
    width: 100%;
    height: auto;
    max-width: 653px;
}

#det-artikel img.header-2 {
    width: 100%;
    height: auto;
    max-width: 653px;
    margin-bottom: 10px;
}

#det-artikel h1 {
    color: #0A0D2C;
    font-weight: 700;
    font-size: 25px;
}

#det-artikel h2 {
    font-size: 14px;
    max-width: 653px;
    text-align: left;
    margin-top: 10px;
    border-bottom: 1px solid #d9d9d9;
    border-left: 5px solid #0A0D2C;
    padding: 15px;
}

#det-artikel h5 {
    color: #878787;
    font-size: 14px;
}

#det-artikel .figcaption {
    color: #878787;
    font-size: 14px;
    background: #F2F2F2;
    max-width: 653px;
}

#det-artikel p.text {
    font-size: 16px;
    max-width: 653px;
}

#det-artikel .baca-juga-body {
    max-width: 653px;
    background-color: #D9D9D9;
    border-radius: 5px;
    margin-bottom: 20px;
}

#det-artikel .baca-juga-body p {
    font-size: 16px;
    padding: 20px 0 20px 20px;
}

#det-artikel .baca-juga-body a {
    color: #333;
}

#det-artikel .baca-juga-footer img {
    width: 100%;
    max-width: 270px;
    height: auto;
    float: left;
    margin-bottom: 20px;
}

#det-artikel .baca-juga-footer .text {
    font-size: 16px;
    margin-left: 5px;
    color: #000;
}

#det-artikel .baca-juga-footer .tag {
    font-size: 16px;
    color: #878787;
    margin-left: 5px;
}

#det-artikel .baca-juga-footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    max-width: 653px;
    width: 100%;
    margin: 0 100px 0 auto
}

#det-artikel .baca-juga-sidebar img {
    width: 100%;
    max-width: 88px;
    height: auto;
    float: left;
    margin-bottom: 20px;
}

#det-artikel .baca-juga-sidebar .text {
    font-size: 14px;
    margin-left: -70px;
    color: #000;
}

#det-artikel .baca-juga-sidebar .tag {
    font-size: 12px;
    color: #878787;
    margin-left: -70px;
}

#det-artikel .baca-juga-sidebar {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    max-width: 653px;
    width: 100%;
    margin: 0 auto;
}

#det-artikel .sticky {
    top: 100px;
}

#det-artikel .author-date {
    display: flex;
    justify-content: space-between;
    max-width: 653px;
}

@media (max-width: 600px) {
    #det-artikel .baca-juga-sidebar .text {
        margin-left: -90px;
    }
    #det-artikel .baca-juga-sidebar .tag {
        margin-left: -90px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
    #det-artikel .baca-juga-sidebar .text {
        margin-left: 0;
    }
    #det-artikel .baca-juga-sidebar .tag {
        margin-left: 0;
    }
}

.copyright {
    background-color: #000;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 12px;
    text-align: center;
}

.splide__pagination__page {
    width: 12px;
    height: 12px;
    margin: 5px;
}

.splide__pagination__page.is-active {
    background: #F9441B!important;
    opacity: 1;
}

.days,
.hours,
.minutes,
.seconds {
    display: inline-block;
    padding: 10px 5px 0 0;
    width: 100%;
    max-width: 70px;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Karla', sans-serif;
}

.numbers {
    border: 2px solid #F53B00;
    border-radius: 10px;
    /* padding-top: 5px; */
    /* padding-bottom: 10px; */
    height: 65px;
    margin-bottom: 5px;
    font-size: 45px;
    font-weight: 700;
    font-family: 'Bebas Neue', cursive;
    padding-top: 1px;
}

.swal-modal .swal-text {
    text-align: center;
    line-height: 1.5;
}